<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<!-- Navigation bar -->
<div class="container" style="max-width: 100%">
  <div class="row navbar navbar-dark bg-dark pd-0 pt-0">
    <div class="col">
      <b class="text-white" th:utext="${user.getEmail()}"></b>
      <span class="text-white" th:utext="' with roles: '"></span>
      <span class="text-white" th:text="${user.rolesToString()}"/>
    </div>
    <div class="col-1"><a class="nav-link active text-white-50" href="/">Logout</a></div>
  </div>
</div>

<!-- Menu buttons (admin and user) on the left -->
<div class="container-fluid g-0 align-items-start">
  <div class="row g-0">

    <div class="col-2 nav flex-column nav-pills fs-5 py-1 my-3" id="v-pills-tab" role="tablist"
         aria-orientation="vertical" style="width: 280px;">
      <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#v-pills-admin" role="tab"
         aria-controls="v-pills-admin" aria-selected="true">Admin</a>
      <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
         aria-controls="v-pills-user" aria-selected="false">User</a>
    </div>

    <div class="col tab-content" id="v-pills-tabContent">

      <!-- Admin panel -->
      <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
        <div class="container-fluid bg-light px-4 py-3 g-0">
          <h1>Admin panel</h1>

          <!--/* Dynamic tabs for Users/New User */-->
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-usersTable-tab" data-bs-toggle="tab"
               href="#nav-usersTable" role="tab"
               aria-controls="nav-usersTable" aria-selected="true">Users table</a>
            <a class="nav-link" id="nav-user-tab" data-bs-toggle="tab" href="#new-user"
               role="tab" aria-controls="nav-user" aria-selected="false">New User</a>
          </div>

          <div class="tab-content" id="nav-tabContent">

            <!--/* All users table */-->
            <div class="tab-pane fade show active" id="nav-usersTable"
                 role="tabpanel" aria-labelledby="nav-usersTable-tab">
              <div class="card">
                <div class="card-header py-3">
                  <div class="h4 m-0">All users</div>
                </div>
                <div class="card-body">

                  <table class="table table-striped border-top">
                    <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Role</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                    </tr>
                    </thead>

                    <tbody id="usersTable">
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

            <!--/* Add new user form */-->
            <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="nav-user-tab" tabindex="0">
              <div class="card">
                <div class="card-header py-3">
                  <div class="h4 m-0">Add new user</div>
                </div>
                <div class="card-body">

                  <form id="userForm" name="userForm">
                    <label for="firstName" class="form-label d-block mx-auto pt-1 mt-2 mb-0 text-center fs-5 font-weight-bold"
                           style="width: 380px;">First name</label>
                    <input type="text" class="form-control mx-auto" id="firstName" style="width: 380px;">

                    <label for="lastName" class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold"
                           style="width: 380px;">Last name</label>
                    <input type="text" class="form-control mx-auto" id="lastName" style="width: 380px;">

                    <label for="email" class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold"
                           style="width: 380px;">Email</label>
                    <input required type="email" class="form-control mx-auto" id="email" style="width: 380px;">

                    <label for="password" class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold"
                           style="width: 380px;">Password</label>
                    <input type="password" class="form-control mx-auto" id="password" style="width: 380px;">

                    <label for="newRoles" class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 font-weight-bold"
                           style="width: 380px;">Role</label>
                    <select multiple class="form-control mx-auto" style="width: 380px;"
                            id="newRoles" name="roles">
                    </select>

                    <button type="submit" class="btn btn-success d-block mx-auto mt-3 fs-3" id="newUser">
                      Add new user</button>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- User panel -->
      <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
        <div class="container-fluid bg-light px-4 py-3 g-0">
          <h1>User information-page</h1>
          <div class="card">
            <div class="card-header py-3">
              <div class="h4 m-0">About user</div>
            </div>
            <div class="card-body">

              <table class="table table-striped border-top">
                <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody id="userTable">
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="modal fade"
     id="editModal"
     role="dialog"
     data-keyboard="true"
     data-bs-backdrop="static"
     tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="user-edit-title">Edit user</h5>
        <button class="btn-close" type="button"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body" style="overflow-x: hidden">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="form-user col-md-8">
              <form class="modal-form" id="userEditForm" name="editForm">
                <div class="form-group text-center">
                  <label for="edit-id" class="form-label text-center"><b>ID</b></label>
                  <input type="number"
                         class="form-control"
                         name="edit-id"
                         id="edit-id"
                         disabled>
                </div>
                <div class="form-group text-center">
                  <label for="edit-firstName" class="form-label text-center"><b>First name</b></label>
                  <input type="text"
                         class="form-control"
                         name="firstName"
                         id="edit-firstName"/>
                </div>
                <div class="form-group text-center">
                  <label for="edit-lastName" class="form-label text-center"><b>Last name</b></label>
                  <input type="text"
                         class="form-control"
                         name="lastName"
                         id="edit-lastName"/>
                </div>
                <div class="form-group">
                  <div class="form-group text-center">
                    <label for="edit-email" class="form-label text-center"><b>Email</b></label>
                    <input type="text"
                           class="form-control"
                           name="email"
                           id="edit-email"
                           disabled/>
                  </div>
                  <div class="form-group text-center">
                    <label for="edit-password" class="form-label text-center"><b>Password</b></label>
                    <input type="password"
                           class="form-control"
                           name="password"
                           id="edit-password"/>

                  </div>
                  <div class="form-group text-center">
                    <label for="edit-roles" class="form-label text-center"><b>Roles</b></label>
                    <select multiple
                            class="form-control form-control-sm mb-3"
                            id="edit-roles"
                            name="selectRolesName"
                            size="2" required>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id = "edit-close-btn"
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">Close
        </button>
        <input type="button"
               class="btn btn-primary"
               value="Edit"
               onclick="updateUser()"/>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
     id="deleteModal"
     role="dialog"
     data-bs-keyboard="true"
     data-bs-backdrop="static"
     tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="user-delete-title">Delete user</h5>
        <button class="btn-close" type="button"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body" style="overflow-x: hidden">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="form-user col-md-8">
              <form class="modal-form" id="formDelete" >
                <div class="form-group text-center">
                  <label for="delete-id"><b>ID</b></label>
                  <input type="text"
                         class="form-control"
                         id="delete-id"
                         disabled/>
                </div><br>
                <div class="form-group text-center">
                  <label for="delete-firstName"><b>First Name</b></label>
                  <input type="text"
                         class="form-control"
                         name="firstName"
                         id="delete-firstName" disabled/>
                </div><br>
                <div class="form-group text-center">
                  <label for="delete-lastName"><b>Last Name</b></label>
                  <input type="text"
                         class="form-control"
                         name="lastName"
                         id="delete-lastName" disabled/>
                </div><br>
                <div class="form-group">
                  <div class="form-group text-center">
                    <label for="delete-email"><b>Email</b></label><br>
                    <input type="text"
                           class="form-control"
                           name="email"
                           id="delete-email" disabled/>
                  </div><br>
                </div>
                <div class="form-group text-center">
                  <label for="delete-roles"><b>Roles</b></label>
                  <select class="form-control" id="delete-roles" name="roles" multiple size="2" disabled>
                  </select>
                </div><br>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                id = "delete-close-btn"
                class="btn btn-secondary"
                data-bs-dismiss="modal">Close
        </button>
        <input type="submit"
               class="btn btn-danger"
               value="Delete"
               onclick="deleteUser()"/>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous">
</script>
<script type="text/javascript" src="../../scripts/admin.js" th:src="@{/scripts/admin.js}"></script>
<script type="text/javascript" src="../../scripts/editUser.js" th:src="@{/scripts/editUser.js}"></script>
<script type="text/javascript" src="../../scripts/deleteUser.js" th:src="@{/scripts/deleteUser.js}"></script>
</body>
</html>